@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;


.videoList {
    @include mobile-subHeader;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px solid $mercury;

    padding-top: 2rem;
    @include tablet {
        @include large-subHeader;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

    }
    @include desktop {
        border-left: 1px solid $mercury;
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

    }
    &__header {
        @include mobile-labels;
        color: $mercury;
        padding-bottom: 2rem;
        @include tablet {
            @include large-labels;
        }
    }

    &__thumbnail {
        min-width: 160px;
        min-height: 100px;
        object-fit: cover;
        position: relative;
        transition: transform, 1s;
        &:hover {
            transform: scale(2);
        }
        }

    &-wrapper {
        min-width: 160px;
        min-height: 100px;
        width: 140px;
        height: 90px;
        display: flex;
        border-radius: 0.25rem;
        overflow: hidden;

    }

    &-inner {
        display: flex;
        margin-bottom: 1rem;
        color: $black;
        @include tablet {
            margin-bottom: 1.5rem;
        }
        &-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 1rem;
                @include tablet {
                   width: 30%;
                }
            &__title {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                overflow: hidden;
                padding-top: 4px;

            }
            &__channel {
                padding-bottom: 4px;

            }

     
        }

    }
}


