
.comments {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    padding: 0 1rem 1rem 1rem;
    @include tablet {
        padding: 0 1.5rem 1.5rem 1.5rem;

    }

    @include desktop {
        margin-left: 6rem;
        padding: 0;
    }
    
    &__avatar {
        @include mobileAvatar;
        background-image: url("../../Assets/Images/Mohan-muruge.jpg");
        background-size: cover;
        position: absolute;
        margin-top: 1.5rem;
        @include tablet {
            @include largeAvatar
        }
    }

    &__container {
        margin-left: 3rem;

        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding-left: 1rem;
        }

    }
    &__input {
        height: 8rem;
        width: 80vw;
        border:1px solid $mercury;
        border-radius: 0.25rem;
        background-color: $mercury;
        padding: 0.75rem;
        // overflow: hidden;
        margin-bottom: 0.5rem;
        @include mobile-paragraph;
        @include tablet {
            padding: 1rem;
            height: 3rem;
            @include large-paragraph;
            width: 70vw;
        }

        @include desktop {

            width: 30vw;
        }

        &::placeholder {
            color: $brainflix-black;
            position: relative;


        }
        &:focus {
            outline: none;
            border: 2px solid $brainflix-blue;
           }
    }
    &__label {
        @include mobile-labels;
        padding-bottom: 0.25rem;
        color: $mercury;
        @include tablet {
            @include large-labels;
        }
    }

    &__form-container {
        display: flex;
        flex-direction: column;
    }

    &__button {
        height: 3rem;
        background-color: $brainflix-blue;
        color: white;
        align-self: center;
        border-radius: 0.25rem;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;

        &:hover {
          background-color: $brainflix-darkblue;
        }
        @include mobile-labels;

        &-image {
            justify-content: flex-start;
        }

        @include tablet {
            width: 9.375rem;
            height: 3rem;
            margin: 1rem 2rem 0 2rem;
            @include large-labels;
        }
    }
}  