@font-face {
    font-family: avenir-regular;
    src: url(../../Assets/Font/AvenirNextLTPro-Regular.woff);
}

@font-face {
    font-family: avenir-bold;
    src: url(../../Assets/Font/AvenirNextLTPro-Bold.woff);
}