.hero {
    &__wrapper {
        display: flex;
        height: 20rem;
        background-color: black;
        @include tablet {
            height: 30rem;
            display: flex;
            align-content: center;
        }
        @include desktop {
            height: 40rem;
        }
    }
    &__image {
        min-width: 100%;
        height: auto;
        object-fit: cover;
        @include tablet {
            padding: 0 1.5rem;
        }
        @include desktop {
            padding: 0 10rem;
        }
        }
    }

    