.hero {
    &__wrapper {
        display: flex;
        height: 250px;
        background-color: black;
        @include tablet {
            height: 400px;
            display: flex;
            align-content: center;
        }
        @include desktop {
            height: 500px;
        }
    }
    &__image {
        min-width: 100%;
        height: auto;
        object-fit: cover;
        @include tablet {
            padding: 0 1.5rem;
        }
        @include desktop {
            padding: 0 10rem;
        }
        }
    }

    