// Mobile mixins //

@mixin mobile-pageHeader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'avenir-bold';
  }

  @mixin mobile-sectionHeader {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 'avenir-bold';
  }
  
  @mixin mobile-subHeader {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: 'avenir-bold';
  }
  
  @mixin mobile-paragraph {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: 'avenir-regular';

  }
  
  @mixin mobile-labels {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 'avenir-bold';
  }
  

  // Destop and Tablet mixins //

  @mixin large-pageHeader {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-family: 'avenir-bold';
  }
  
  @mixin large-sectionHeader {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 'avenir-bold';
  }
  
  @mixin large-subHeader {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: 'avenir-bold';
  }
  
  @mixin large-paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: 'avenir-regular';
  }
  
  @mixin large-labels {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 'avenir-bold';
  }

  // mixins for the avatars

  @mixin mobileAvatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

@mixin largeAvatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}