
.navbar {
    height: 10rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    
    &__container {
      margin: 0 1rem 1rem 1rem;
    }

    &__logo {
      max-width: 120px;
      max-height: 25px;

      &-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
      }
      }

    &__searchBar-container {
      display: flex;
      justify-content: space-around;
    }
    
    &__searchIcon-container {
      display: flex;
      height: 3rem;
      width: 80%;
      align-items: center;
      border: 1px solid $brainflix-blue;
      background-color: $mercury;
      border-radius: 0.25rem;

      &--icon {
        padding: 0 0.625rem 0 1.25rem;
      }

      &--text {
        @include mobile-paragraph;

        @include tablet {
          @include large-paragraph;
        }
      }
    }
    
    &__upload-container {
      display: flex;
      justify-content: center;

      &-inner {
        display: flex;
        justify-content:space-evenly;
        height: 3rem;
        background-color: $brainflix-blue;
        border-radius: 0.25rem;
        justify-content: center;
        align-items: center;
        width: 99%;
        margin-top: 1rem;
        &:hover {
          background-color: $brainflix-darkblue;
        }
        &--icon {
          padding: 0 0.625rem 0 0;
        }
        &--text {
          @include mobile-paragraph;
          margin: 0;
          color: white;

          @include tablet {
            @include large-paragraph;
          }
        }
      }
      &--image {
        height: 3rem;
        width: 3rem;
        margin: 0;
        background-image: url("../../Assets/Images/Mohan-muruge.jpg");
        background-color: grey;
        background-position: left;
        background-size: cover;
        border-radius: 2rem;
      }
    }
  }
