html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

//Partials

// @import './Partials/breakpoints';
@import './Partials/mixins';
@import "./Partials/variables"