@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/breakpoints" as *;

.navbar {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1.5rem;
      height: 5rem;
    }
    @include desktop {
      padding: 0 6rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between; 
         @include tablet {
          width: 60%;
          flex-wrap: nowrap;
          justify-content: flex-end;

        }
        @include desktop {
          width: 40%;

        }

      &-upload {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include tablet {
          width: 80%;

          justify-content: flex-end;

        }
      }
    }
    &__container {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;

    }
    &__search {
      width: 100%;
      min-height: 3rem;
      margin: 1rem 0rem;
      background-color: $mercury;
      border-radius: 0.25rem;
      border: 1px solid $mercury;
      padding-left: 3rem;
      @include mobile-labels;
      @include tablet {
        @include large-labels;
        margin: 0;
      }

      &::placeholder {
        color: $black;
        position: relative;
      }

      &:focus {
       outline: none;
       border: 2px solid $brainflix-blue;
      }

      &:hover {
        color: $brainflix-darkblue;
      }

    } 

    &__searchImage {
      position: absolute;
      left: 1.5rem;
      top: 2rem;
      @include tablet {
        top: 1rem;

      }
    }



    &__button {
      width: 100%;
      min-height: 3rem;
      background-color: $brainflix-blue;
      color: $white;
      border-radius: 0.25rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile-paragraph;
      @include tablet {
        margin-left: 1rem;
        width: 60%;
        flex-grow: 2;
        justify-content: space-evenly;
        @include large-paragraph;

      }
      

      &:hover {
        background-color: $brainflix-darkblue;
      }
    }

&__avatar{
  @include largeAvatar;
      background-image: url("../../Assets/Images/Mohan-muruge.jpg");
      background-size: cover;
      display: flex;
      align-self: center;
      margin-left: 1rem;
      @include tablet {
        visibility: hidden;
        margin: 0;
        position: absolute;

      }

      &-tablet {
        @include largeAvatar;
        display: flex;
        align-self: center;
        margin-left: 1rem;
        background-image: url("../../Assets/Images/Mohan-muruge.jpg");
        background-size: cover;
        visibility: hidden;
        @include tablet {
          visibility: visible;
          
      }

    }
  }
}

  