@font-face {
    font-family: 'avenir-regular';
    src: url("../assets/Font/AvenirNextLTPro-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'avenir-bold';
    src: url("../assets/Font/AvenirNextLTPro-Bold.woff");
    font-weight: 700;
}
